---
export interface Props {
  title?: string;
}

let { title } = Astro.props;
---

<div class="my-4 bg-slate-800 rounded-2xl border-2 border-slate-800">
  <div class="rounded-t-2xl py-2 px-4 bg-slate-600">
    <h3>{title && title}</h3>
  </div>
  <div class="py-2 px-4">
    <slot />
  </div>
</div>
