@import "tailwindcss";

@layer base {
  * {
    @apply underline-offset-2;
  }

  h1 {
    @apply text-2xl font-bold text-slate-100;
  }
  h2 {
    @apply text-xl font-semibold text-slate-200;
  }
  h3 {
    @apply text-lg font-medium text-slate-300;
  }
  h4 {
    @apply text-base italic text-slate-400;
  }
  p {
    @apply text-base leading-relaxed text-slate-300;
  }
  a {
    @apply underline transition-colors duration-150 text-slate-300 hover:text-slate-100;
  }
}

#akasha-icon {
  transform: rotate(-30deg);
  transform-origin: center;
  width: 32px;
  height: 32px;
}

#aquadx-icon {
  @apply grayscale brightness-200 hover:grayscale-0 hover:brightness-100
}