@import "tailwindcss";

@layer base {
  h1 {
    @apply text-2xl font-bold text-slate-100;
  }
  h2 {
    @apply text-xl font-semibold text-slate-200;
  }
  h3 {
    @apply text-lg font-medium text-slate-300;
  }
  h4 {
    @apply text-base italic text-slate-400;
  }
  p {
    @apply text-base leading-relaxed text-slate-300;
  }
  a {
    @apply underline;
  }
}

#akasha-icon {
  transform: rotate(-30deg);
  transform-origin: center;
  width: 32px;
  height: 32px;
}
