---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'TESTTITLE', description = 'TESTDESCRIPTION' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content={description} />

    <title>{title}</title>

    <!-- Favicon -->
    <!-- <link rel="icon" href="/favicon.svg" /> -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class= "pt-32 pb-32">
    <video
      autoplay
      muted
      loop
      playsinline
      poster="/bg/bg-poster.jpg"
      class="fixed top-0 left-0 w-full h-full object-cover -z-10"
    >
      <source src="/bg/bg-video.webm" type="video/webm" />
      <source src="/bg/bg-video.mp4" type="video/mp4" />
      <source src="/bg/bg-video.av1.webm" type="video/webm; codecs=av01" />
    </video>

    {/* TODO: min-h-[1000px] is temporary (ONLY FOR TESTING) i.e. TAKE IT OUT LATER thanks */}
    {/* i fucking hate having to do responsive design this is so janky */}
    <main
      class="w-[90%] h-auto min-h-[1000px] 
      min-[667px]:w-[600px] max-[999px]:mx-auto ml-[200px]
      bg-slate-900 opacity-95 text-slate-200 rounded-2xl
      transition-all duration-150 ease-in-out"
    >
      <slot />
    </main>
  </body>

  <footer></footer>
</html>
