---
import BaseLayout from './BaseLayout.astro';
import 'katex/dist/katex.min.css';

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <div class="p-4">
    <header>
      <hgroup>
        <h1>{frontmatter.title}</h1>
        <h3>{frontmatter.description && frontmatter.description}</h3>
        <h4>{frontmatter.date}</h4>
      </hgroup>
      <div class="flex gap-4 pb-4">
        <a href="/"> &lt go home </a>
        <a href="/blog"> &lt see all blog posts </a>
      </div>
    </header>
    <div class="indent-6">
      <slot />
    </div>
  </div>
</BaseLayout>
