---
export interface Props {
  icon: {
    title: string;
    hex?: string;
    url?: string;
    account?: string;
    styleID?: string;
  };
}

const { icon } = Astro.props;
---

<li class="relative group">
  {/* stupid fucking workaround */}
  <a
    href={icon.url && icon.url}
    class={'flex items-center justify-center w-8 h-8 transition-all duration-200 fill-current group-hover:[color:var(--hover-color)]'}
    style={icon.hex && `--hover-color: ${icon.hex}`}
    id={icon.styleID && icon.styleID}
  >
    <slot />
  </a>

  <span
    class="absolute bottom-full mb-2 left-1/2 -translate-x-1/2
          px-2 py-1 rounded-md text-sm text-white bg-slate-800
          opacity-0 group-hover:opacity-100 group-focus-within:opacity-100
          transition-opacity duration-200 pointer-events-none whitespace-nowrap"
  >
    {icon.title}{icon.account && ` - ${icon.account}`}
  </span>
</li>
