---
import BaseLayout from 'layouts/BaseLayout.astro';
import BlogPostDisplay from '@lib/blog/BlogPostDisplay.astro';
import FancySection from '@lib/ui/FancySection.astro';

import type { PostFrontmatter } from 'lib/shared-types';

const posts = await Astro.glob<PostFrontmatter>('./blog/*.mdx');
---

<BaseLayout>
  <div class="p-4">
    <FancySection title="Blog Posts" />
    <div class="flex gap-4 pb-4">
      <a href="/"> &lt go home </a>
    </div>
    <div class="grid grid-cols-1">
      <div class="grid grid-cols-1 gap-4">
        {posts.map((post) => !post.frontmatter.hidden && <BlogPostDisplay post={post} />)}
        {
          posts.filter((post) => !post.frontmatter.hidden).length == 0 && (
            <h3>There's nothing here... yet</h3>
          )
        }
      </div>
    </div>
  </div>
</BaseLayout>
