---
import BaseLayout from 'layouts/BaseLayout.astro';
import BlogPostDisplay from '@components/BlogPostDisplay.astro';
import FancySection from '@components/FancySection.astro';

import type { PostFrontmatter } from 'lib/shared-types';

const posts = await Astro.glob<PostFrontmatter>('./blog/*.mdx');
---

<BaseLayout>
  <div class="p-4">
    <FancySection title="Blog Posts" />
    <div class="grid grid-cols-1">
      {posts.map((post) => <BlogPostDisplay post={post} />)}
    </div>
  </div>
</BaseLayout>
