---
import BaseLayout from 'layouts/BaseLayout.astro';
import BlogPostDisplay from '@components/blog/BlogPostDisplay.astro';
import FancySection from '@components/ui/FancySection.astro';

import type { PostFrontmatter } from 'lib/shared-types';

const posts = await Astro.glob<PostFrontmatter>('./blog/*.mdx');
---

<BaseLayout>
  <div class="p-4">
    <FancySection title="Blog Posts" />
    <div class="flex gap-4 pb-4">
      <a href="/"> &lt go home </a>
    </div>
    <div class="grid grid-cols-1">
      <div class="grid grid-cols-1 gap-4">
        {posts.map((post) => <BlogPostDisplay post={post} />)}
      </div>
    </div>
  </div>
</BaseLayout>
