---
import BaseLayout from '../layouts/BaseLayout.astro';
import FancyIcon from '@components/FancyIcon.astro';
import * as si from 'simple-icons'; // TODO: TESTING PURPOSES ONLY!!!! DONT IMPORT 3000 SVGS PLS PLS PLS

const { title, description } = Astro.props;
---

<BaseLayout>
  <header class="pt-4 pl-4 pr-4">
    <div class="flex flex-wrap justify-start align-bottom gap-4">
      <picture>
        <source srcset="pfp.png" type="img/png" />
        <img
          src="pfp.png"
          width="128"
          height="128"
          class="rounded-full border-4 border-slate-600"
          alt="asterisk's profile picture"
        />
      </picture>
      <hgroup class="">
        <div class="flex items-baseline gap-4">
          <h1>Hi, I'm Asterisk.</h1>
          <h4>a.k.a. crxmsxn</h4>
        </div>
        <h2>multifacted nerd and annoying person (tbd)</h2>
      </hgroup>
    </div>
  </header>
  <section id="links">
    <div class="flex flex-wrap justify-center gap-4">
      <ul>
        <FancyIcon
          icon={{
            title: si.siDiscord.title,
            svg: si.siDiscord.svg,
            hex: '#' + si.siDiscord.hex.toLowerCase(),
            url: si.siDiscord.source,
            account: 'asterisk727',
          }}
        />
        <FancyIcon
          icon={{
            title: si.siGithub.title,
            svg: si.siGithub.svg,
            hex: '#' + 'FFFFFF',
            url: si.siGithub.source,
            account: 'asterisk727',
          }}
        />
      </ul>
    </div>
  </section>
  <section id="languages"></section>
  <section id="projects"></section>
  <section id="blog"></section>
  <section id="buttons"></section>
  <section id="testimonials"></section>
  <div class="pb-4"></div>
</BaseLayout>
