---
import BaseLayout from '../layouts/BaseLayout.astro';
import FancyIcon from '@components/FancyIcon.astro';
import FancySection from '@components/FancySection.astro';
import * as si from 'simple-icons'; // TODO: TESTING PURPOSES ONLY!!!! DONT IMPORT 3000 SVGS PLS PLS PLS

const { title, description } = Astro.props;
---

<BaseLayout>
  <!-- find a better way to do this, maybe make sections a component -->
  <style>
    section {
      padding-top: 20px;
    }
  </style>

  <div class="pl-4 pr-4 pb-4 relative">
    <header>
      <div class="flex items-start gap-4">
        <picture class="relative -mt-16 shrink-0">
          <source srcset="pfp.png" type="img/png" />
          <img
            src="pfp.png"
            width="128"
            height="128"
            class="rounded-full border-4 border-slate-600"
            alt="asterisk's profile picture"
          />
        </picture>
        <hgroup class="pt-4">
          <div class="flex items-baseline gap-4">
            <h1>Hi, I'm Asterisk.</h1>
            <h4>a.k.a. crxmsxn</h4>
          </div>
          <h2>multifacted nerd and annoying person (tbd)</h2>
        </hgroup>
      </div>
    </header>
    <FancySection title="Links to things" id="links">
      <div class="flex justify-center">
        <ul class="flex flex-wrap flex-row gap-4">
          <FancyIcon
            icon={{
              title: si.siDiscord.title,
              svg: si.siDiscord.svg,
              hex: '#' + si.siDiscord.hex.toLowerCase(),
              url: si.siDiscord.source,
              account: 'asterisk727',
            }}
          />
          <FancyIcon
            icon={{
              title: si.siGithub.title,
              svg: si.siGithub.svg,
              hex: '#' + 'FFFFFF',
              url: si.siGithub.source,
              account: 'asterisk727',
            }}
          />
          <!-- Todo: fill out the rest of these -->
        </ul>
      </div>
    </FancySection>
    <section id="languages"></section>
    <section id="projects"></section>
    <section id="blog"></section>
    <section id="buttons"></section>
    <section id="testimonials"></section>
    <div class="pb-4"></div>
  </div>
</BaseLayout>
