---
import BaseLayout from '../layouts/BaseLayout.astro';
import FancyIcon from '@components/FancyIcon.astro';
import IconRow from '@components/IconRow.astro';
import Testimonial from '@components/Testimonial.astro';
import FancySection from '@components/FancySection.astro';
import * as si from 'simple-icons'; // TODO: TESTING PURPOSES ONLY!!!! DONT IMPORT 3000 SVGS PLS PLS PLS

const { title, description } = Astro.props;
---

<BaseLayout>
  <div class="pl-4 pr-4 pb-4 relative">
    <header>
      <div class="flex items-start gap-4">
        <picture class="relative -mt-16 shrink-0">
          <source srcset="pfp.png" type="img/png" />
          <img
            src="pfp.png"
            width="128"
            height="128"
            class="rounded-full border-4 border-slate-600"
            alt="asterisk's profile picture"
          />
        </picture>
        <hgroup class="pt-4">
          <div class="flex items-baseline gap-4">
            <h1>Hi, I'm Asterisk.</h1>
            <h4>a.k.a. crxmsxn</h4>
          </div>
          <h2>multifacted nerd and annoying person (tbd)</h2>
        </hgroup>
      </div>
    </header>
    <FancySection title="Links to things" id="links">
      <IconRow>
        <FancyIcon
          icon={{
            title: si.siDiscord.title,
            svg: si.siDiscord.svg,
            hex: '#' + si.siDiscord.hex.toLowerCase(),
            url: si.siDiscord.source,
            account: 'asterisk727',
          }}
        />
        <FancyIcon
          icon={{
            title: si.siGithub.title,
            svg: si.siGithub.svg,
            hex: '#' + 'FFFFFF',
            url: si.siGithub.source,
            account: 'asterisk727',
          }}
        />
        <!-- TODO: fill out the rest of these -->
      </IconRow>
    </FancySection>
    <FancySection title="10% knowledge of these:" id="languages">
      <IconRow>
        <FancyIcon
          icon={{
            title: si.siAstro.title,
            svg: si.siAstro.svg,
            hex: '#' + si.siAstro.hex.toLowerCase(),
            url: si.siAstro.source,
          }}
        />
        <!-- TODO: fill out the rest of these -->
      </IconRow>
    </FancySection>
    <FancySection title="3% knowledge of these:" id="learning">
      <IconRow>
        <FancyIcon
          icon={{
            title: si.siKotlin.title,
            svg: si.siKotlin.svg,
            hex: '#' + si.siKotlin.hex.toLowerCase(),
            url: si.siKotlin.source,
          }}
        />
        <!-- TODO: fill out the rest of these -->
      </IconRow>
    </FancySection>
    <FancySection title="Fun things I've done" id="projects">
      <!-- something so that linter doesn't destroy the closing tag -->
    </FancySection>
    <FancySection title="Blog posts" id="blogposts">
      <!-- something so that linter doesn't destroy the closing tag -->
    </FancySection>
    <FancySection title="clicky clicky buttons" id="buttons">
      <!-- something so that linter doesn't destroy the closing tag -->
    </FancySection>
    <FancySection title="testimonials" id="testimonials">
      <div class="grid grid-cols-1 gap-4">
        <Testimonial
          review={{
            stars: 1,
            author: 'sabrina',
            content: 'can we kill this guy',
          }}
          ;
        />
        <Testimonial
          review={{
            stars: 1,
            author: 'may',
            content: "you want me to kill myself don't you",
          }}
          ;
        />
        <Testimonial
          review={{
            stars: 5,
            author: 'laproliliu',
            content: "don't die ... you are very cool",
          }}
          ;
        />
      </div>
    </FancySection>
    <div class="pb-4"></div>
  </div>
</BaseLayout>
