---
import colors from 'tailwindcss/colors';

import BaseLayout from '../layouts/BaseLayout.astro';
import FancyIcon from '@components/FancyIcon.astro';
import IconRow from '@components/IconRow.astro';
import Testimonial from '@components/Testimonial.astro';
import FancySection from '@components/FancySection.astro';

import {
  siDiscord,
  siGithub,
  siLastdotfm,
  siSteam,
  siMonkeytype,
  siAstro,
  siKotlin,
} from 'simple-icons';
import akashaIcon from '../icons/akasha.svg?raw';

const { title, description } = Astro.props;
---

<BaseLayout>
  <div class="pl-4 pr-4 pb-4 relative">
    <header>
      <div class="flex items-start gap-4">
        <picture class="relative -mt-16 shrink-0">
          <source srcset="pfp.png" type="img/png" />
          <img
            src="pfp.png"
            width="128"
            height="128"
            class="rounded-full border-4 border-slate-600"
            alt="asterisk's profile picture"
          />
        </picture>
        <hgroup class="pt-4">
          <div class="flex flex-wrap items-baseline gap-x-4">
            <h1>Hi, I'm Asterisk.</h1>
            <h4>a.k.a. crxmsxn</h4>
          </div>
          <h2>multifacted nerd and annoying person</h2>
        </hgroup>
      </div>
    </header>
    <FancySection title="Links to things" id="links">
      <IconRow>
        <FancyIcon
          icon={{
            title: siDiscord.title,
            svg: siDiscord.svg,
            hex: '#' + siDiscord.hex,
            url: 'https://discord.com/users/616792599360962583',
            account: 'asterisk727',
          }}
        />
        <FancyIcon
          icon={{
            title: siGithub.title,
            svg: siGithub.svg,
            hex: colors.slate[400],
            url: 'https://github.com/asterisk727',
            account: 'asterisk727',
          }}
        />
        <FancyIcon
          icon={{
            title: siLastdotfm.title,
            svg: siLastdotfm.svg,
            hex: '#' + siLastdotfm.hex,
            url: 'https://www.last.fm/user/crxmsxn',
            account: 'crxmsxn',
          }}
        />
        <FancyIcon
          icon={{
            title: 'Akasha Network',
            svg: akashaIcon,
            hex: '#395b64',
            url: 'https://akasha.cv/profile/824368720',
            account: 'Asterisk',
            svgID: 'akasha-icon',
          }}
        />
        <!-- This is such a stupid workaround, think of a better way to do it please -->
        <li class="relative group">
          <a
            href="https://aquadx.net/u/crxmsxn"
            class="flex items-center justify-center w-8 h-8 transition-color duration-200 grayscale brightness-200 hover:grayscale-0 hover:brightness-100"
          >
            <img src="icons/aquadx.png" />
          </a>
          <span
            class="absolute bottom-full mb-2 left-1/2 -translate-x-1/2
          px-2 py-1 rounded-md text-sm text-white bg-slate-800
          opacity-0 group-hover:opacity-100 group-focus-within:opacity-100
          transition-opacity duration-200 pointer-events-none whitespace-nowrap"
          >
            AquaDX - crxmsxn
          </span>
        </li>
        <FancyIcon
          icon={{
            title: siSteam.title,
            svg: siSteam.svg,
            hex: '#1a9fff',
            url: 'https://steamcommunity.com/id/_asterisk_/',
            account: 'crxmsxn',
          }}
        />
        <FancyIcon
          icon={{
            title: siMonkeytype.title,
            svg: siMonkeytype.svg,
            hex: '#' + siMonkeytype.hex,
            url: 'https://monkeytype.com/profile/asterai',
            account: 'asterai',
          }}
        />
        <!-- TODO: fill out the rest of these -->
      </IconRow>
    </FancySection>
    <FancySection title="10% knowledge of these:" id="languages">
      <IconRow>
        <FancyIcon
          icon={{
            title: siAstro.title,
            svg: siAstro.svg,
            hex: '#' + siAstro.hex,
            url: siAstro.source,
          }}
        />
        <!-- TODO: fill out the rest of these -->
      </IconRow>
    </FancySection>
    <FancySection title="3% knowledge of these:" id="learning">
      <IconRow>
        <FancyIcon
          icon={{
            title: siKotlin.title,
            svg: siKotlin.svg,
            hex: '#' + siKotlin.hex,
            url: siKotlin.source,
          }}
        />
        <!-- TODO: fill out the rest of these -->
      </IconRow>
    </FancySection>
    <FancySection title="Fun things I've done" id="projects">
      <!-- something so that linter doesn't destroy the closing tag -->
    </FancySection>
    <FancySection title="Blog posts" id="blogposts">
      <!-- something so that linter doesn't destroy the closing tag -->
    </FancySection>
    <FancySection title="clicky clicky buttons" id="buttons">
      <!-- something so that linter doesn't destroy the closing tag -->
    </FancySection>
    <FancySection title="testimonials" id="testimonials">
      <div class="grid grid-cols-1 gap-4">
        <Testimonial
          review={{
            stars: 1,
            author: 'sabrina',
            content: 'can we kill this guy',
          }}
          ;
        />
        <Testimonial
          review={{
            stars: 1,
            author: 'may',
            content: "you want me to kill myself don't you",
          }}
          ;
        />
        <Testimonial
          review={{
            stars: 5,
            author: 'laproliliu',
            content: "don't die ... you are very cool",
          }}
          ;
        />
      </div>
    </FancySection>
    <div class="pb-4"></div>
  </div>
</BaseLayout>
